body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


/* Estilos para el contenido principal */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.buscar-container {
    display: grid;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}


#inputBuscarNombre {
    padding: 8px 10px;
    border-radius: 20px;
    margin-bottom: 30px; 
    border: 1px solid #dfe1e5; /* Añade un borde */
    font-size: 16px; /* Ajusta el tamaño de la fuente */
}

/* Estilos para el formulario de búsqueda */
#formBuscar {
    display: flex;
    align-items: center;
}

/* Estilos para los select del formulario */
#formBuscar select {
    border-radius: 20px;
    padding: 8px; /* Espacio interno */
    margin-right: 20px; 
    margin-left: 10px; 

}


/* Estilo para el botón de buscar */
#formBuscar button {
    border-radius: 5px; /* Bordes redondeados */
    padding: 8px 20px; /* Espacio interno */
    background-color: #333; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Quita los bordes */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

/* Estilo para el botón de buscar al pasar el ratón */
#formBuscar button:hover {
    background-color: #006444; /* Cambia el color de fondo al pasar el ratón */
}

/* Estilos para la tabla de empresas */
#tablaEmpresas {
    width: calc(100% - 40px); /* Resta 40px al 100% del ancho para dejar espacio en los lados */
    margin: 0 auto 20px; /* Centra la tabla horizontalmente y agrega espacio abajo */
    position: relative; /* Agrega posición relativa */
}

#tablaEmpresas th,
#tablaEmpresas td {
    padding: 10px; /* Espacio interno de las celdas */
    text-align: center; /* Centra el texto dentro de las celdas */
    border: 1px solid #ddd; /* Borde de las celdas */
}

#tablaEmpresas th {
    background-color: #f2f2f2; /* Color de fondo del encabezado */
}

#tablaEmpresas tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Color de fondo de las filas pares */
}

#tablaEmpresas tbody tr:hover {
    background-color: #f2f2f2; /* Cambia el color de fondo al pasar el ratón */
}
